body, html {
    height: 100%;
}

body {
    margin: 0;
    display: flex-end;
    flex-direction: column;
    background-image: url(vote.JPG);
    overflow: scroll;
  }

nav {
    background-color: white;
    padding: .4rem;
    font-size: 1rem;
}  

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;    
  }


  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
nav ul li a{
  position: relative;
  text-decoration: none;
  color: black  
}
